 <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h1 >Unauthenticated user</h1>
    <a href="/login"><h3 class="white">Back to login page</h3></a> 
  </div>  